body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-weight: 600;
    font-size: 20px;
    color: #443737;
    text-decoration: none;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 16px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -7px;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-weight: 700;
    font-size: 79px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}